.App {
  text-align: center;
}

.gradebook{
  display: block;
  overflow-x: auto;
  overflow-y: auto;
}

.list{
  word-wrap: break-word;
}

.hover:hover{
  cursor: pointer;
  background-color:#e0e1e2;
}

.ui.header:first-child.header{
  font-family: 'Dosis', sans-serif;
  margin-left: 2rem;
}

.ui.header:first-child.header:hover{
  color:#e0e1e2;
  cursor: pointer;
}

.ui.form .field {
    color: rgba(0,0,0,.87);
    font-size: .92857143em;
    font-weight: 700;
    text-transform: none;
}

.ui.form .field .dropdown{
  font-weight: 400;
  color: rgba(0,0,0,1)
}

.ui.table.hover th:hover, .ui.table th.hover:hover {
  cursor: pointer;
  background-color:#e0e1e2;
}

 .ui.table td.negative.redhover:hover {
  background-color:#e0e1e2 !important;
}
