.App {
  text-align: center;
}

.gradebook{
  display: block;
  overflow-x: auto;
  overflow-y: auto;
}

.list{
  word-wrap: break-word;
}

.hover:hover{
  cursor: pointer;
  background-color:#e0e1e2;
}

.ui.table.hover th:hover, .ui.table th.hover:hover {
  cursor: pointer;
  background-color:#e0e1e2;
}
